$colorBackGr: #3a90cd;
$colorBackCongrats: #07121b;
$colorTitle: #e6c428;
$colorText: #ffffff;
$colorText2: #1b223e;

$colorPrimary: #3a90cd;
$colorPrimaryLight: #5bade8;

$colorRoulette01: #e6c428;
$colorRoulette02: #9ad3de;
$colorRoulette03: #aacfef;
$colorRoulette04: #1b223e;
$colorRoulette05: #3a90cd;
$colorRoulette06: #ddebf7;

$colorWheel: #e6c428;
$nextBtnGradient: linear-gradient(180deg, #e8c426 50%, #a38a1a 100%);
$answerBtnGradient: linear-gradient(180deg, #e8c426 50%, #a38a1a 100%);

// $colorCard          : rgb(188, 42, 122);
$colorCard: rgb(228, 15, 24);
$colorDisable: #989898;
$colorWrong: #ef1f1f;
$colorCorrect: #35a333;
